*{
    margin: 0;
    padding: 0;
    background: url("subtle-cinematics-KEI-VNDi0_g-unsplash.jpg") no-repeat center center fixed;
    background-size: cover;
}

.main p{
    color: white;
    font-size: 20px;
    float: right;
    flex: right;
}

ul li a{
    text-decoration: none;
    font-size: 25px;
    color: white;
    font-weight: bold;
}

ul li a:hover{
    color: rgb(205, 119, 21);
}

p{
    font-size: 20px;
    color: white;
}
form#contact-Form input{
    color: white;
}